@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-slate-600;
}

.titlebar {
  -webkit-app-region: drag;
  height: 48px;
}

.titlebar button,
.titlebar a {
  -webkit-app-region: no-drag;
}

.scrollbar-hidden {
  /* Firefox */
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  /* Webkit */
  display: none;
}
